@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Merienda';

body {
    background: #667db6;
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
    color: #0F2027;
}

h2 {
    text-align: center;
}

i {
    margin: 4px;
    font-weight: bold;
    font-size: 120%;
}

b {
    color: #667db6;
}

*, .roboto {
    font-size: 16pt;
    font-family: 'Roboto', sans-serif;
}

.user {
    border-bottom: 0.5px solid black;
}

.merienda {
    font-family: 'Merienda', cursive;
}

#titulo {
    font-size: 3em;
}

#contentWrap {
    display: none;
}